.hideMe {
  display: none;
}

.plantChooser {
  display: flex;
}

.giveAwayPlantDiv {
  display: flex;
}

.GACheck {
  margin-top: 12px;
  margin-right: 2px;
}

.GACheckPlant {
  margin-right: 5px;
}

.plantQtyInput {
  width: 10%;
}