.zipcodeRadiusDiv {
  display: flex;
  margin: 3px;
}

.listingsDiv {
  border-radius: 3px;
  overflow: auto;
  padding-left: 0;
  padding-right: 0;
  min-height: 40em;
}

.radiusPar {
  padding-top: 5px;
}

.searchButton {
  display: flex;
  justify-content: flex-start;
}

// body {
//   background-image: url('../../images/garden2.jpg');
//   background-size: cover;
// }