.dropdownBeGone {
  display: none;
}

.plantSelectorMenu {
  left: 900px !important;
  top: 130px !important;
}

.plantSelectorListings {
  left: 180px !important;
  top: 80px !important;
}

.plantIcon {
  width: 30px;
  height: 30px;
  margin-right: 3px;
}