.pwButton {
  margin-right: 5px;
  margin-top: 5px;
}

.passwordBody {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.passwordButton {
  margin-top: 15px;
}