@import '../../styles/var';

.ratingScreen {
  background-color: $fresh;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.ratingTitle {
  text-align: center;
  font-size: 1.5em;
}

.ratingDiv {
  margin-bottom: 10px;
}