@import '../../styles/var';

.detailsInfo {
  display: flex;
  flex-flow: row;
  margin-bottom: 0;
}

.tradeModal {
  max-width: 60%;
}

.detailsLi {
  width: 150px;
}

.detailsTitleLi {
  width: 150px;
  background-color: darkkhaki;
}

.closeTradeButton {
  margin-top: 10px;
  margin-left: 25px;
}

.closeThis {
  float: right;
  font-size: 1em;
  font-weight: 500;
  line-height: 1;
  color: black;
  text-shadow: 0 1px 0 #fff;
}


.modalB {
  background-color: $fresh;
  border: 1px solid white;
}

.modalH {
  background-color: $vermillion;
  border: 1px solid white;
}

.modal-title {
  width: 100% !important;
  display: flex !important;
  justify-content: space-between !important;
}

.modal-content {
  border: none !important;
}

.offersButton {
  margin-top: 5px;
  margin-left: 26px;
}