.detailsInfo {
  display: flex;
  flex-flow: row;
  margin-bottom: 0;
}

.tradeModal {
  max-width: 60%;
}

.detailsLi {
  width: 150px;
}

.detailsTitleLi {
  width: 150px;
  background-color: darkkhaki;
}

.closeTradeButton {
  margin-top: 10px;
  margin-left: 25px;
}