.plantLi {
  height: 75px;
}

.butts {
  background-color: transparent;
  border: 0;
}

.deleteMe {
  border: 2px dashed red;
}

.deleteMeLi {
  background-color: yellow;
}

.userPlants {
  padding-left: 0;
  padding-right: 0;
  border: 1.5px solid white;
}