.plantLi {
  height: 75px;
  padding-top: 25px;
}

.butts {
  background-color: transparent;
  border: 0;
}

.removePlant {
  border-radius: 4px;
  background-color: seagreen;
  border: 1px solid seagreen;
  color: white;
}