.offerInfo {
  display: flex;
  flex-flow: row;
}

.offerLi {
  width: 120px;
  font-size: 0.9em;
}

.tradePlants {
  display: flex;
  justify-content: space-around;
}

.buttonDiv {
  display: flex;
  justify-content: flex-start;
}

.userTrades {
  border: 1.5px solid white;
}

#userTradesList {
  flex-flow: column;
}