@import '../../styles/var';

.listingDInfo {
  display: flex;
}

.listingDUnit {
  display: flex;
}

.listingModal {
  max-width: 50%;
}

.listingDUnitPar {
  margin: 5px;
}

.listingDPic {
  width: 265px;
  border: 1.5px solid black;
}

.listingDProfile {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.listingDName {
  border: 1.5px solid black;
  border-radius: 2px;
  margin-top: 3px;
  padding: 3px;
  width: 265px;
  text-align: center;
  background-color: $vermillion;
}

.listingDPlantInfo {
  display: flex;
  justify-content: center;
}

.listingDPlantDiv {
  display: flex;
  background-color: white;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 5px;
  justify-content: space-around;
}

.listingDPlantPar {
  text-align: left;
  width: 33%;
}

.listingDQtyPar {
  text-align: center;
  width: 33%;
}

.listingPlantTitle {
  display: flex;
  justify-content: center;
  border: 1px solid white;
  border-radius: 3px;
  width: 100%;
}

.LDPar {
  margin-top: 5px;
  margin-bottom: 5px;
}