@import '../../styles/var';

.createAccountLink {
  padding: 0;
  border: none;
  background: none;
  color: blue;
  margin-top: 10px;
}

.loginScreen {
  width: 60%;
  background-color: seagreen;
  color: white;
}

.login {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.loginTitle {
  font-size: 3em;
  border: 1.5px solid black;
  border-radius: 4px;
  box-shadow: 0 2px 2px;
  background-image: url(../../images/border.png);
  background-size: cover;
  background-color: $vermillion;
  text-align: center;
  padding-left: 35px;
  padding-right: 35px;
  font-family: 'Pacifico', cursive;
  padding-top: 5px;
}

.signInBut {
  height: 40px;
}

.titleBlock {
  display: flex;
}

.gnomeTitle {
  height: 100px;
  margin-left: 10px;
}