@import '../../styles/var';

.userProfile {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 220px;
  height: 100%;
  background-image: url('../../images/Autumn-Border--Arvin61r58.png');
  background-size: cover;
  margin-left: 8.5%;
}

.userPicture, .userTitle {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border: 1.5px solid white;
  background-color: white;
  border-radius: 2px;
}

.userTitle {
  background-color: $vermillion !important;
  margin-top: 0;
  margin-bottom: auto;
}

.userPicture {
  margin-top: auto;
  height: 75%;
}

.userPlantsList {
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: auto;
  margin-top: 10px;
}

.plantInfo {
  display: flex;
  flex-flow: row;
  margin-bottom: 0px;
  padding-left: 0;
}

.plantLi {
  width: 20%;
}

.plantInfoLi {
  background-color: darkkhaki;
}

.userTradesTitle, .pendingOfferTitle {
  font-size: 2em;
  border: 1.5px solid black;
  border-radius: 4px;
  box-shadow: 0 2px 2px;
  background-color: $varDBrown;
  width: 50%;
  text-align: center;
}

.plantsTitle {
  font-size: 2em;
  border: 1.5px solid black;
  border-radius: 4px;
  box-shadow: 0 2px 2px;
  background-image: url(../../images/border.png);
  background-size: cover;
  background-color: $vermillion;
  text-align: center;
  padding-left: 35px;
  padding-right: 35px;
  font-family: 'Pacifico', cursive;
  padding-top: 5px;
}

.tradesTitle {
  font-size: 2em;
  border: 1.5px solid black;
  border-radius: 4px;
  box-shadow: 0 2px 2px;
  background-image: url(../../images/border.png);
  background-size: cover;
  background-color: $vermillion;
  text-align: center;
  padding-left: 35px;
  padding-right: 35px;
  margin-top: 20px;
  font-family: 'Pacifico', cursive;
  padding-top: 5px;
}

.userHomeUpperDiv {
  height: 18em;
}

.userTradesInfo {
  display: flex;
  flex-flow: row;
  margin-bottom: 0px;
  padding-left: 0;
  padding-right: 0;
}

.offerInfo {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}

.tradeLi {
  width: 100%;
  font-size: 0.9em;
  background-color: darkkhaki;
}

.fYouFlex {
  display: flex;
  justify-content: center;
}

#userTradesList {
  display: none;
}

#pendingOfferList {
  display: flex;
  flex-flow: column;
}

.offersInfo {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.plantButtsDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

#removeBut {
  background-color: $fresh;
  color: black;
}

#uploadBut {
  background-color: $sunshine;
}

.hovering {
  border: 1.5px solid white;
  color: white;
  background-color: seagreen !important;
  li {
    background-color: seagreen;
    color: white;
  }
}

.buttonsGeneric {
	box-shadow: 4px 4px 3px 0px seagreen !important;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5)) !important;
	background:-moz-linear-gradient(top, seagreen 5%, $vermillion 100%) !important;
	background:-webkit-linear-gradient(top, seagreen 5%, $vermillion 100%) !important;
	background:-o-linear-gradient(top, seagreen 5%, $vermillion 100%) !important;
	background:-ms-linear-gradient(top, seagreen 5%, $vermillion 100%) !important;
	background:linear-gradient(to bottom, seagreen 5%, $vermillion 100%) !important;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='seagreen', endColorstr='$vermillion',GradientType=0) !important;
	background-color: seagreen;
	border-radius:3px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	font-family:Impact;
	text-decoration:none;
  text-shadow:0px 0px 50px #528ecc;
  color: white !important
}

.buttonsGeneric:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff)) !important;
	background:-moz-linear-gradient(top, $vermillion 5%, seagreen 100%) !important;
	background:-webkit-linear-gradient(top, $vermillion 5%, seagreen 100%) !important;
	background:-o-linear-gradient(top, $vermillion 5%, seagreen 100%) !important;
	background:-ms-linear-gradient(top, $vermillion 5%, seagreen 100%) !important;
	background:linear-gradient(to bottom, $vermillion 5%, seagreen 100%) !important;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$vermillion', endColorstr='seagreen',GradientType=0) !important;
	background-color:$vermillion;
}

.buttonsGeneric:active {
  position:relative;
	top:1px;
}

.inactiveButton {
  box-shadow: 4px 4px 3px 0px seagreen !important;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, $fresh 5%, gold 100%);
	background:-webkit-linear-gradient(top, $fresh 5%, gold 100%);
	background:-o-linear-gradient(top, $fresh 5%, gold 100%);
	background:-ms-linear-gradient(top, $fresh 5%, gold 100%);
	background:linear-gradient(to bottom, $fresh 5%, gold 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$fresh', endColorstr='gold',GradientType=0);
	background-color: $fresh;
	border-radius:3px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	font-family:Impact;
	text-decoration:none;
	text-shadow:0px 0px 50px #528ecc;
}

.inactiveButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
	background:-moz-linear-gradient(top, 5%, $fresh 100%);
	background:-webkit-linear-gradient(top, gold 5%, $fresh 100%);
	background:-o-linear-gradient(top, gold 5%, $fresh 100%);
	background:-ms-linear-gradient(top, gold 5%, $fresh 100%);
	background:linear-gradient(to bottom, gold 5%, $fresh 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='gold', endColorstr='$fresh',GradientType=0);
	background-color:$vermillion;
}

.inactiveButton:active {
  position:relative;
  top:1px;
}

.plantButton {
  margin-left: 2px;
}