.offerInfo {
  display: flex;
  flex-flow: row;
}

.offerLi {
  width: 150px;
}

.offerMessage {
  display: flex;
  justify-content: space-between;
  background-image:  url(../../images/background.jpg);
  color: wheat;
  border: 1.5px solid black;
  border-radius: 5px;
  margin-top: 3px;
  width: 600px;
}

.tradePlants {
  display: flex;
  justify-content: space-around;
}

.messageUser {
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 0;
}

.message {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: darkolivegreen;
  padding-left: 10px;
  padding-right: 10px;
}

.messageDate {
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 0.5em;
}

.buttonDiv {
  display: flex;
  justify-content: flex-start;
}

.pendingOffer {
  border: 1.5px solid white;
}