.offerInfo {
  display: flex;
  flex-flow: row;
}

.offerLi {
  width: 150px;
}

.offerMessage {
  margin-left: 50px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
}

.tradePlants {
  display: flex;
  justify-content: space-around;
}

.messageUser {

}

.message {

}

.messageDate {
  
}